<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{> header}}

    <h1>{{title}}</h1>
   
    {{!-- <h3>elektronnaya pochta</h3> --}}
    <ul>
        {{#each films}}
            <li>{{this.name}}
                <img style="width: 200px; heigth: 200px;" src="{{this.url}}" alt="">
            </li>
            <a href="films/{{this.name}}">See more</a>
        {{/each}}
    </ul>
    {{!-- <p>telefon: {{phone}}</p> --}}
</body>
</html>